/* title
title
input-field
btn-submit
description
description */

.title {
  color: blue;
  font-size: 46px;
  text-align: center;
}

/* 
positioning
absolute
relative
static
fixed
*/
.def{
    width: 100%;
    height: 200vh;
    position: relative;
}

.box {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.static {
  background-color: brown;
}

.absolute {
  background-color: blueviolet;
  position: absolute;
  top: 0;
  right: 0;
}

.fixed {
  background-color: blue;
  position: fixed;
  top: 10%;
  right: 30%;
}

.relative {
  background-color: chocolate;
  position: relative;
  right: -10%;
  top: -10%;
}

.sticky {
    background-color: teal;
    position: sticky;
    top: 5%;
}
